@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* FONTS */
    --space-mono: 'Space Mono', monospace;
    --nabla-display: 'Nabla', cursive;
    --nanum-gothic: 'Nanum Gothic Coding', monospace;
    --jetbrains-mono: 'JetBrains Mono', monospace;
    --major-mono-display: 'Major Mono Display', monospace;
    --megrim-display: 'Megrim', cursive;
    --azeret-mono: 'Azeret Mono', monospace;

    /* COLORS */
    --black-1: #000000;
    --white-1: #ffffff;
    --pink-1: #ba71d9;
    --purple-1: #4b1c8c;
    --green-1: #078c04;
    --yellow-1: #f2b705;
    --orange-1: #f28705;

    --pink-2: #f2b3d6;
    --light-purple-1: #b7aef2;
    --green-2: #238c6e;
    --green-3: #2bd999;
    --grey-1: #f2eeeb;

    --yellow-2: #f2cf66;
    --orange-2: #f26716;
    --red-1: #f24405;
    --grey-2: #f2f2f2;
    --black-2: #0d0d0d;

    --purple-2: #8857f2;
    --blue-1: #6b71f2;
    --neon-green-1: #d7f205;
    --yellow-3: #f2cb05;
    --orange-3: #f28705;

    --pink-3: #f2a7c3;
    --blue-2: #2c6cbf;
    --light-blue-1: #88c9f2;
    --pastel-green-1: #6fbfb1;
    --pastel-yellow-1: #f2cd5c;

    --gradient-1: linear-gradient(
        45deg,
        var(--pink-1),
        var(--purple-1),
        var(--green-1),
        var(--yellow-1),
        var(--orange-1)
    );
    --gradient-2: linear-gradient(
        45deg,
        var(--pink-2),
        var(--light-purple-1),
        var(--green-2),
        var(--green-3),
        var(--grey-1)
    );
    --gradient-3: linear-gradient(
        45deg,
        var(--yellow-2),
        var(--orange-2),
        var(--red-1),
        var(--grey-2),
        var(--black-2)
    );
    --gradient-4: linear-gradient(
        45deg,
        var(--purple-2),
        var(--blue-1),
        var(--neon-green-1),
        var(--yellow-3),
        var(--orange-3)
    );
    --gradient-5: linear-gradient(
        45deg,
        var(--pink-3),
        var(--blue-2),
        var(--light-blue-1),
        var(--pastel-green-1),
        var(--pastel-yellow-1)
    );
    --gradient-6: linear-gradient(
        45deg,
        var(--light-blue-1),
        var(--purple-1),
        var(--orange-2),
        var(--grey-1),
        var(--blue-1)
    );
    --gradient-7: radial-gradient(
        circle,
        var(--pink-1) 20%,
        var(--blue-2) 40%,
        var(--pastel-yellow-1) 60%,
        var(--purple-2) 80%,
        var(--neon-green-1) 100%
    );
    --gradient-8: linear-gradient(
        90deg,
        var(--pink-3),
        var(--purple-2),
        var(--green-3),
        var(--yellow-3),
        var(--blue-2)
    );
    --gradient-9: linear-gradient(
        45deg,
        var(--light-blue-1),
        var(--light-purple-1),
        var(--pink-3),
        var(--grey-2),
        var(--blue-1)
    );
    --gradient-10: linear-gradient(
        45deg,
        var(--black-1),
        var(--light-purple-1),
        var(--pink-3),
        var(--red-1),
        var(--pastel-green-1)
    );
}

/* Global settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

.gradient-container-1 {
    height: 100%;
    width: 100%;
    background-image: var(--gradient-1);
    background-size: 400%;
    animation: gradient-animation 25s infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
/* NavBar component */
.nav-bar {
    border: 1px solid black;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white-1);
}

.nav-btn-container {
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* svg home-eye */
.home-eye {
    width: 40px;
}
.home-eye-white {
    fill: #fff;
}

.home-eye-pupil:hover,
.home-eye-pupil:focus,
.home-eye-pupil:active {
    fill: var(--pink-1);
}

.home-eye-pupil {
    animation: eye-movement 10000ms infinite;
}

@keyframes eye-movement {
    0%,
    50%,
    100% {
        cx: 25;
    }
    25% {
        cx: 20;
    }
    75% {
        cx: 30;
    }
}

/* svg grid */

.home-grid-details {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
}

.home-grid {
    rotate: 45deg;
    width: 30px;
}

/* Hero */
/* .hero-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-1);
} */
.hero-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient-1);
    background-size: 400%;
    animation: gradient-animation 25s infinite alternate;
}

.gradient-container-1 {
    height: 100%;
    width: 100%;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.eye-lid,
.open-eye {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-1);
    min-width: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--black-1);
    transition: height 500ms ease-in-out;
}

.eye-lid {
    height: 0px;
}

.open-eye {
    height: 120px;
}

.eye {
    background-color: var(--purple-1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.spiral {
    width: 100px;
    height: 100px;
    animation: spinning 1000ms infinite linear;
}

@keyframes spinning {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

@media (min-width: 768px) {
    .eye-lid,
    .open-eye {
        min-width: 600px;
    }
    .open-eye {
        height: 240px;
    }
    .eye {
        width: 200px;
        height: 200px;
    }
    .spiral {
        width: 200px;
        height: 200px;
    }
}

.spiral-detail {
    fill: none;
    stroke: var(--pink-1);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

/* Crazy-corner */
.crazy-header {
    color: red;
    margin-top: 15rem;
    font-size: large;
}

.item-test {
    color: red;
    font-size: 2rem;
}
/* NEW! Patterns */
.bg-pattern-1 {
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-2);
    background-image: conic-gradient(
            from 330deg at 50% 60%,
            var(--color-1) 60deg,
            transparent 60deg
        ),
        conic-gradient(
            from 150deg at 50% 30%,
            var(--color-1) 60deg,
            transparent 60deg
        );
    background-position: 0 0, 1.5rem -0.5rem;
    background-size: 3rem 3rem;
    animation: pattern-animation-1 10000ms infinite alternate;
}

@keyframes pattern-animation-1 {
    from {
        background-position: 0 0, 1.5rem -0.5rem;
        background-size: 3rem 3rem;
    }
    to {
        background-position: 1 0, 1rem 0;
        background-size: 5rem 1rem;
    }
}

/* OK */
.bg-pattern-triangles {
    --color-1: var(--pastel-green-1);
    --color-2: var(--purple-2);
    background-color: var(--color-2);
    background-image: conic-gradient(
            from 330deg at 50% 60%,
            var(--color-1) 60deg,
            transparent 60deg
        ),
        conic-gradient(
            from 150deg at 50% 30%,
            var(--color-1) 60deg,
            transparent 60deg
        );
    background-position: 0 0, 1.5rem -0.5rem;
    background-size: 3rem 3rem;
}

.bg-animated-triangles {
    animation: pattern-animation-1 8000ms infinite alternate;
}

@keyframes pattern-animation-triangles {
    from {
        background-position: 0 0, 1.5rem -0.5rem;
        background-size: 3rem 3rem;
    }
    to {
        background-position: -1rem 3rem, 1rem 1rem;
        background-size: 5rem 1rem;
    }
}

.grid-triangle-1 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.black-arrow {
    rotate: 45deg;
    transform-origin: center;
    /* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 30%); */
    width: 40vw;
}

.black-arrow-details {
    fill: none;
    stroke: var(--white-1);
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

@media (min-width: 768px){
    .grid-triangle-1 {
        margin-top: 4rem;
    }
    .black-arrow {
        transform-origin: center;
        width: 30vw;
    }
}

.black-arrow-spin {
    animation: spin-black-arrow infinite linear 800ms;
}

@keyframes spin-black-arrow {
    to {
        rotate: 360deg;
    }
}

.bg-color-circle {
    background-color: var(--light-purple-1);
}

.bg-color-circle-2 {
    background-color: var(--pastel-green-1);
}

.bg-color-animated-circle {
    background-image: var(--gradient-7);
    background-repeat: no-repeat;
    background-position: center;
    animation: bg-color-animated-circle 10000ms infinite alternate;
}

@keyframes bg-color-animated-circle {
    from {
        background-size: 100%;
    }

    to {
        background-size: 400%;
    }
}

.grid-color-1-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-color-1 {
    background-color: var(--black-1);
    min-height: 140px;
    min-width: 140px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-inner-color-1 {
    background-color: var(--white-1);
    min-height: 100px;
    min-width: 100px;
    border-radius: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .grid-color-1 {
        min-height: 280px;
        min-width: 280px;
    }

    .grid-inner-color-1 {
        min-height: 200px;
        min-width: 200px;
    }
}

/* OK */
.bg-pattern-wave {
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-1);
    background-image: radial-gradient(
            circle at 100% 50%,
            transparent 1rem,
            var(--color-2) 1rem,
            var(--color-2) 1.5rem,
            transparent 1.5rem
        ),
        radial-gradient(
            circle at 0% 50%,
            transparent 1rem,
            var(--color-2) 1rem,
            var(--color-2) 1.5rem,
            transparent 1.5rem
        );
    background-size: 3rem 5rem;
    background-position: 0 0, 0 2.5rem;
}

.bg-animated-wave {
    animation: pattern-animation-wave 10000ms infinite alternate;
}

@keyframes pattern-animation-wave {
    0% {
        background-size: 3rem 5rem;
        background-position: 0 0, 0 2.5rem;
    }
    20%{
        background-color: var(--blue-1);
    }
    50%{
        background-color: var(--light-purple-1);
    }
    80%{
        background-color: var(--green-3);
    }
    100% {
        background-size: 1rem 5rem;
        background-position: 0 0, 0 2.5rem;
    }
}

/* OK */
.bg-pattern-circles {
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-1);
    background-image: radial-gradient(
        circle,
        transparent 1rem,
        var(--color-2) 1rem,
        var(--color-2) 1.5rem,
        transparent 1.5rem
    );
    background-size: 3rem 3rem;
}

.bg-animated-circles {
    animation: pattern-animation-circles 4000ms infinite alternate;
}

@keyframes pattern-animation-circles {
    0% {
        background-size: 3rem 3rem;
        background-position: center;
    }
    20%{
        background-color: var(--white-1);
    }
    60%{
        background-color: var(--neon-green-1);
    }
    100% {
        background-size: 1rem 2rem;
        background-position: center;
    }
}

/* OK */
.bg-pattern-dots {
    --color-1: var(--black-1);
    --color-2: var(--green-3);
    background-color: var(--color-1);
    background-image: radial-gradient(
        circle,
        transparent 1rem,
        var(--color-2) 1rem,
        var(--color-2) 3rem,
        var(--blue-1) 3rem,
        var(--blue-1) 5rem,
        transparent 5rem
    );
    background-size: 3rem 3rem;
}

.bg-animated-dots {
    animation: pattern-animation-dots 6000ms infinite alternate;
}

@keyframes pattern-animation-dots {
    from {
        background-size: 3rem 3rem;
        background-position: center bottom;
    }
    to {
        background-size: 1rem 5rem;
        background-position: center top;
    }
}

.grid-pattern-item-1 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-pattern-header-1 {
    text-align: center;
    color: var(--white-1);
    font-size: 8vh;
    word-break: break-all;
}

.bg-gradient-1 {
    background-image: var(--gradient-5);
    background-size: 300%;
}

.bg-animated-gradient-1 {
    animation: bg-animated-gradient-1 infinite alternate 1000ms;
}

@keyframes bg-animated-gradient-1 {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }
}

/* OK */
.bg-pattern-cross {
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-1);
    background-size: 5rem 5rem;
    background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
    background-image: radial-gradient(
            circle,
            transparent 1rem,
            var(--color-1) 1rem
        ),
        linear-gradient(var(--color-2) 0.5rem, transparent 0.5rem),
        linear-gradient(90deg, var(--color-2) 0.5rem, transparent 0.5rem);
}

.bg-animated-cross {
    animation: pattern-animation-cross 10000ms infinite alternate;
}

@keyframes pattern-animation-cross {
    from {
        background-size: 5rem 5rem;
    }
    to {
        background-size: 2rem 2rem, 1rem 1rem, 1rem 1rem;
    }
}

/* OK */
.bg-pattern-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-1);
    background-size: 3rem 3rem;
    background-image: linear-gradient(var(--color-2) 0.1rem, transparent 0.1rem),
        linear-gradient(90deg, var(--color-2) 0.1rem, transparent 0.1rem);
}

.bg-animated-grid {
    animation: pattern-animation-1 4000ms infinite alternate;
}

@keyframes pattern-animation-grid {
    from {
        background-size: 4rem 4rem, 2rem 2rem;
        background-position: center;
        /* background-position: 2rem 0, 4rem 0, 0 0, 0 0; */
    }
    to {
        background-size: 3rem 3rem;
        background-position: center;
        /* background-position: 2rem 0, 2rem 0, 0 0, 0 0; */
    }
}

.grid-grid-header{
    filter: invert(1);
    mix-blend-mode: difference;
    font-family: var(--major-mono-display);
    font-size: 20vh;
}

@media (min-width: 425px){
    .grid-grid-header{
        font-size: 30vh;
    }

}

/* OK */
.bg-pattern-zig-zag {
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-2);
    background-size: 4rem 4rem;
    background-position: 2rem 0, 2rem 0, 0 0, 0 0;
    background-image: linear-gradient(
            -45deg,
            transparent 75%,
            var(--color-1) 75%
        ),
        linear-gradient(45deg, transparent 75%, var(--color-1) 75%),
        linear-gradient(-135deg, transparent 75%, var(--color-1) 75%),
        linear-gradient(135deg, transparent 75%, var(--color-1) 75%);
}

.bg-animated-zig-zag {
    animation: pattern-animation-zig-zag 5000ms infinite alternate;
}

/* Animation */

@keyframes pattern-animation-zig-zag {
    0% {
        background-size: 4rem 4rem, 2rem 2rem;
        background-position: center;
        background-color: var(--white-1);
    }
    50%{
        background-color: var(--neon-green-1);
    }
    100% {
        background-size: 5rem 5rem, 1rem 1rem;
        background-position: 2rem 0, 2rem 0, 0 0, 0 0;
        background-color: var(--light-purple-1);
    }
}

/* GRID_TEMPLATE */

.grid {
    height: 300px;
    /* width: 100px; */
}

.regular {
    background-image: var(--gradient-1);
}

/* .bg-hori-rand {
    background-image: url('../src/img/_hori-rand.png');
} */

/* .bg-liggande-triangel {
    background-image: url('../src/img/_liggande-triangel.png');
} */

/* .bg-prick {
    background-image: url('../src/img/_prick.png');
} */

/* .bg-ruta {
    background-image: url('../src/img/_ruta.png');
} */

/* .bg-stående-triangel {
    background-image: url('../src/img/_stående-triangel.png');
} */

.bg-tintin-rutor {
    background-image: url('../src/img/_tintin-rutor.png');
}

.bg-vågor {
    background-image: url('../src/img/_vågor.png');
}

.bg-vanliga-zick-zack {
    background-image: url('../src/img/_vanliga-zick-zack.png');
}

.bg-ver-rand {
    background-image: url('../src/img/_ver-rand.png');
}

.bg-zick-zack {
    background-color: var(--light-purple-1);
    background-image: url('../src/img/_zick-zack.png');
    background-size: 10%;
    animation: moving-zick-zack 10000ms infinite alternate;
}

@keyframes moving-zick-zack {
    from {
        background-position: top;
    }
    to {
        background-position: bottom;
    }
}

.gradient-bg-1 {
    background-image: var(--gradient-1);
}
.gradient-bg-2 {
    background-image: var(--gradient-2);
}
.gradient-bg-3 {
    background-image: var(--gradient-3);
}

.gradient-bg-4 {
    background-image: var(--gradient-4);
}
.gradient-bg-5 {
    background-image: var(--gradient-5);
}
.gradient-bg-6 {
    background-image: url('../src/img/optical_illusion.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    /* background-image: var(--gradient-6); */
    overflow: hidden;
}

.gradient-bg-7 {
    background-image: var(--gradient-7);
    background-repeat: no-repeat;
    background-position: center;
    animation: moving-gradient-7 10000ms infinite alternate;
}

@keyframes moving-gradient-7 {
    from {
        background-size: 100%;
    }

    to {
        background-size: 200%;
    }
}

.gradient-bg-8 {
    background-image: var(--gradient-8);
    background-size: 200%;
    animation: moving-gradient-8 infinite alternate 12000ms;
}

@keyframes moving-gradient-8 {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }
}
.gradient-bg-9 {
    background-image: var(--gradient-9);
}
.gradient-bg-10 {
    background-image: var(--gradient-10);
}

/* DIfferent Grids */

.grid-container {
    margin-top: 2.8rem;
    display: grid;
}

.grid-layout-wrapper-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* in progress */
.grid-layout-wrapper-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

@media (min-width: 768px) {
    .grid-layout-wrapper-1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .grid-triangle-1 {
        margin-top: 10rem;
    }
    .grid-item-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-layout-wrapper-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

/* Spaced */
.spaced-wrapper {
    background-color: var(--blue-1);
    margin-top: 2rem;
    min-height: 100vh;
    background-image: url('../src/img/optical_illusion.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* CLOCK */

.clock-container {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--pink-2);
}

.clock-header {
    font-size: 10vh;
    color: white;
    font-family: var(--nabla-display);
}

@media (min-width: 768px) {
    .clock-header {
        font-size: 20vh;
    }
}

.clock-pattern{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-typography{
    font-size: 10vh;
    text-align: center;
    animation: spinning-tic-tac 60000ms infinite linear;
}

@keyframes spinning-tic-tac {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

/* Footer */

.footer-bar {
    background-color: black;
}

.img-container {
    min-height: 200px;
    background-image: url('./img/footers.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.footer-header {
    color: white;
    text-align: center;
}

.foot-wrapper-left,
.foot-wrapper-right{
    padding-top: 3rem;
}

.foot-wrapper-right{
    background-image: url('../src/img/_vågor.png');
    background-color: var(--orange-1);
    animation: switch-color-right infinite linear 8000ms;
}

@keyframes switch-color-right {
    0%{
        background-color: var(--orange-1);
        background-position: right;
    }
    25%{
        background-color: var(--red-1);
    } 50%{
        background-color: var(--pastel-yellow-1);
    } 75%{
        background-color: var(--light-blue-1);
    } 100%{
        background-color: var(--pastel-green-1);
    }
}

.foot-wrapper-left{
    background-image: url('../src/img/_tintin-rutor.png');
    background-color: var(--neon-green-1);
    animation: switch-color-left infinite linear 8000ms;
}

@keyframes switch-color-left {
    0%{
        background-color: var(--neon-green-1);
        background-position: left;
    }
    25%{
        background-color: var(--blue-2);
    } 50%{
        background-color: var(--light-purple-1);
    } 75%{
        background-color: var(--purple-1);
    } 100%{
        background-color: var(--pink-3);
    }
}

.btn-container{
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.right-shoe,
.left-shoe {
    rotate: -90deg;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vw;
}

@media (min-width: 768px) {
    .right-shoe,
.left-shoe {
    rotate: 0deg;
    min-height: 93vh;
}
}

.shoe{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* height: auto;
    max-width: 100%; */
    height: 100px;
}

@media (min-width: 768px) {
    .shoe{
        height: 200px;
    }
}

.right {
    background-image: url('./img/_right_shoe.png');
}

.left {
    background-image: url('./img/_left_shoe.png');
}

.right-shoe {
    background-image: url('./img/_right_shoe.png');
}

.left-shoe {
    background-image: url('./img/_left_shoe.png');
}
