@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* FONTS */
    --space-mono: 'Space Mono', monospace;
    --nabla-display: 'Nabla', cursive;
    --nanum-gothic: 'Nanum Gothic Coding', monospace;
    --jetbrains-mono: 'JetBrains Mono', monospace;
    --major-mono-display: 'Major Mono Display', monospace;
    --megrim-display: 'Megrim', cursive;
    --azeret-mono: 'Azeret Mono', monospace;

    /* COLORS */
    --black-1: #000000;
    --white-1: #ffffff;
    --pink-1: #ba71d9;
    --purple-1: #4b1c8c;
    --green-1: #078c04;
    --yellow-1: #f2b705;
    --orange-1: #f28705;

    --pink-2: #f2b3d6;
    --light-purple-1: #b7aef2;
    --green-2: #238c6e;
    --green-3: #2bd999;
    --grey-1: #f2eeeb;

    --yellow-2: #f2cf66;
    --orange-2: #f26716;
    --red-1: #f24405;
    --grey-2: #f2f2f2;
    --black-2: #0d0d0d;

    --purple-2: #8857f2;
    --blue-1: #6b71f2;
    --neon-green-1: #d7f205;
    --yellow-3: #f2cb05;
    --orange-3: #f28705;

    --pink-3: #f2a7c3;
    --blue-2: #2c6cbf;
    --light-blue-1: #88c9f2;
    --pastel-green-1: #6fbfb1;
    --pastel-yellow-1: #f2cd5c;

    --gradient-1: radial-gradient(
        circle,
        var(--pink-1),
        var(--purple-1),
        transparent,
        var(--yellow-1),
        transparent
    );
    --gradient-2: linear-gradient(
        45deg,
        var(--pink-2),
        var(--light-purple-1),
        var(--green-2),
        var(--green-3),
        var(--grey-1)
    );
    --gradient-3: linear-gradient(
        45deg,
        var(--yellow-2),
        var(--orange-2),
        var(--red-1),
        var(--grey-2),
        var(--black-2)
    );
    --gradient-4: linear-gradient(
        45deg,
        var(--purple-2),
        var(--blue-1),
        var(--neon-green-1),
        var(--yellow-3),
        var(--orange-3)
    );
    --gradient-5: linear-gradient(
        45deg,
        var(--pink-3),
        var(--blue-2),
        var(--light-blue-1),
        var(--pastel-green-1),
        var(--pastel-yellow-1)
    );
    --gradient-6: linear-gradient(
        45deg,
        var(--light-blue-1),
        var(--purple-1),
        var(--orange-2),
        var(--grey-1),
        var(--blue-1)
    );
    --gradient-7: radial-gradient(
        circle,
        var(--yellow-1) 10%,
        var(--pink-1) 20%,
        var(--neon-green-1) 30%,
        var(--blue-2) 40%,
        var(--light-purple-1) 50%,
        var(--pastel-yellow-1) 60%,
        var(--purple-2) 80%,
        var(--neon-green-1) 100%
    );
    --gradient-8: radial-gradient(
        circle,
        var(--blue-2) 5%,
        var(--pink-3) 10%,
        var(--yellow-3) 20%,
        var(--purple-2) 30%,
        var(--green-3) 40%,
        var(--yellow-3) 60%,
        var(--blue-2) 100%
    );
    --gradient-9: linear-gradient(
        45deg,
        var(--light-blue-1),
        var(--light-purple-1),
        var(--pink-3),
        var(--grey-2),
        var(--blue-1)
    );
    --gradient-10: linear-gradient(
        45deg,
        var(--black-1),
        var(--light-purple-1),
        var(--pink-3),
        var(--red-1),
        var(--pastel-green-1)
    );

    --gradient-11 : linear-gradient(
        var(--pastel-green-1),
        var(--blue-1),
        var(--pastel-green-1),
        var(--light-purple-1),
        var(--neon-green-1),
        var(--light-purple-1)
    )
}

/* Global settings */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

a{
    text-decoration: none;
}

.gradient-container-1 {
    height: 100%;
    width: 100%;
    background-image: var(--gradient-1);
    background-size: 400%;
    animation: gradient-animation 25s infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
/* NavBar component */
.nav-bar {
    border: 1px solid black;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white-1);
}

.nav-btn-container {
    padding: .3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

/* svg home-eye */
.home-eye {
    width: 40px;
}
.home-eye-white {
    fill: #fff;
}

.home-eye-pupil:hover,
.home-eye-pupil:focus,
.home-eye-pupil:active {
    fill: var(--pink-1);
}

.home-eye-pupil {
    animation: eye-movement 10000ms infinite;
}

@keyframes eye-movement {
    0%,
    50%,
    100% {
        cx: 25;
    }
    25% {
        cx: 20;
    }
    75% {
        cx: 30;
    }
}

/* svg grid */

.home-grid-details {
    fill: none;
    stroke: var(--black-1);
    stroke-miterlimit: 10;
}

.home-grid {
    rotate: 45deg;
    width: 30px;
}

.hero-wrapper {
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-1);
    background-size: 5rem 5rem;
    background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
    background-image: radial-gradient(
            circle,
            transparent 1rem,
            var(--color-1) 1rem
        ),
        linear-gradient(var(--color-2) 0.5rem, transparent 0.5rem),
        linear-gradient(90deg, var(--color-2) 0.5rem, transparent 0.5rem);
    transition: background-size ease-in 5s;
}

.hero-animated-cross {
    animation: hero-animation-cross 8000ms infinite alternate;
}

@keyframes hero-animation-cross {
    from {
        background-size: 5rem 5rem;
        background-position: center;
    }
    to {
        background-size: 2rem 2rem, 1rem 1rem, 1rem 1rem;
        background-position: center;
    }
}

.hero-container {
    background-size: 800%;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: var(--gradient-1);
}

.crazy-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-image: var(--gradient-1);
    background-size: 800%;
    animation: gradient-animation 5s infinite alternate;
    transition: background-size 5000ms ease-out;
}

@keyframes gradient-animation {
    0% {
        background-size: 800%;
    }
    100% {
        background-size: 100%;
    }
}

.small-eye,
.eye-lid,
.open-eye {
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-1);
    min-width: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--black-1);
    transition: height 500ms ease-in-out;
}

.eye-lid {
    height: 0px;
}

.open-eye {
    height: 120px;
}

.small-eye{
    height: 20px;
}

.eye {
    background-color: var(--purple-1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.spiral {
    width: 100px;
    height: 100px;
    animation: spinning 1000ms infinite linear;
}

@keyframes spinning {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

@media (min-width: 768px) {
    .small-eye,
    .eye-lid,
    .open-eye {
        min-width: 600px;
    }
    .open-eye {
        height: 240px;
    }
    .eye {
        width: 200px;
        height: 200px;
    }
    .spiral {
        width: 200px;
        height: 200px;
    }
}

.spiral-detail {
    fill: none;
    stroke: var(--pink-1);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.hover-area{
 margin: 3rem;
    height: 20%;
    width: 100%;
}

.notFound-btn{
    background-color: var(--white-1);
    border: none;
    font-size: 5rem;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.notFound-btn:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 0px 0px var(--purple-1);
    -webkit-box-shadow: 0px 10px 0px 0px var(--purple-1);
    -moz-box-shadow: 0px 10px 0px 0px var(--purple-1);
}

.notFound-btn:focus{
    background-color: var(--yellow-2);
    transform: translateY(3px);
    box-shadow: 0px -2px 0px 0px var(--purple-1);
    -webkit-box-shadow: 0px -2px 0px 0px var(--purple-1);
    -moz-box-shadow: 0px -2px 0px 0px var(--purple-1);
}



.notFound-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: var(--gradient-11);
}

/* NEW! Patterns */
.bg-pattern-1 {
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-2);
    background-image: conic-gradient(
            from 330deg at 50% 60%,
            var(--color-1) 60deg,
            transparent 60deg
        ),
        conic-gradient(
            from 150deg at 50% 30%,
            var(--color-1) 60deg,
            transparent 60deg
        );
    background-position: 0 0, 1.5rem -0.5rem;
    background-size: 3rem 3rem;
    animation: pattern-animation-1 10000ms infinite alternate;
}

@keyframes pattern-animation-1 {
    from {
        background-position: 0 0, 1.5rem -0.5rem;
        background-size: 3rem 3rem;
    }
    to {
        background-position: 1 0, 1rem 0;
        background-size: 5rem 1rem;
    }
}

/* OK */
.bg-pattern-triangles {
    border-radius: 10px;
    --color-1: var(--pastel-green-1);
    --color-2: var(--purple-2);
    background-color: var(--color-2);
    background-image: conic-gradient(
            from 330deg at 50% 60%,
            var(--color-1) 60deg,
            transparent 60deg
        ),
        conic-gradient(
            from 150deg at 50% 30%,
            var(--color-1) 60deg,
            transparent 60deg
        );
    background-position: 0 0, 1.5rem -0.5rem;
    background-size: 3rem 3rem;
}

.bg-animated-triangles {
    animation: pattern-animation-triangles 4000ms infinite alternate;
}

@keyframes pattern-animation-triangles {
    0% {
        background-position: 0 0, 1.5rem -0.5rem;
        background-size: 3rem 3rem;
    }
    50%{
        background-color: var(--neon-green-1);
    }
    100%{
        background-position: 5rem 0, 1.5rem -0.5rem;
        background-size: center;
    }
}

.grid-triangle-1 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.black-arrow {
    margin-top: 1rem;
    rotate: 45deg;
    transform-origin: center;
    width: 60vw;
}

.black-arrow-details {
    fill: none;
    stroke: var(--white-1);
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

@media (min-width: 425px) {
    .grid-triangle-1 {
        margin-top: 3rem;
    }
}

@media (min-width: 768px) {
    .grid-triangle-1 {
        /* min-height: 100vh; */
        margin-top: 2rem;
    }
    .black-arrow {
        width: 30vw;
    }
}

.black-arrow-spin {
    animation: spin-black-arrow infinite alternate linear 8000ms;
}

@keyframes spin-black-arrow {
    from {
        rotate: 90deg;
    }
    to {
        rotate: 45deg;
    }
}

.bg-color-circle {

    background-image: var(--gradient-2);
    rotate: 180deg;
}

.bg-color-circle-2 {

    background-image: var(--gradient-2);
}

.bg-color-animated-circle {
    background-image: var(--gradient-7);
    background-repeat: no-repeat;
    background-position: center;
    animation: bg-color-animated-circle 8000ms infinite alternate;
}

@keyframes bg-color-animated-circle {
    from {
        background-size: 100%;
    }

    to {
        background-size: 400%;
    }
}

.grid-color-1-container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
}

.grid-color-circle {
    margin: .5rem;
    background-color: var(--white-1);
    border: solid 20px var(--black-1);
    min-height: 100px;
    min-width: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media (min-width: 425px) {
    .grid-color-circle {
        margin: 1rem;
        border: solid 30px var(--black-1);
        min-height: 140px;
        min-width: 140px;
    }
}
@media (min-width: 768px) {
    .grid-color-circle {
        margin: 2rem;
        border: solid 40px var(--black-1);
        min-height: 200px;
        min-width: 200px;
    }
}

/* OK */
.bg-pattern-cross {
    /* border: 2px solid var(--white-1); */
    --color-1: var(--black-1);
    --color-2: var(--black-1);
    background-color: var(--color-1);
    /* background-size: 5rem 5rem; */
    background-size: 0 0, 3rem 3rem, 1rem 1rem;
    background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
    background-image: radial-gradient(
            circle,
            transparent 1rem,
            var(--color-1) 1rem
        ),
        linear-gradient(var(--color-2) 0.5rem, transparent 0.5rem),
        linear-gradient(90deg, var(--color-2) 0.5rem, transparent 0.5rem);
}

.bg-animated-cross {
    animation: pattern-animation-cross 6000ms infinite alternate;
}

@keyframes pattern-animation-cross {
    0% {
        background-color: var(--yellow-3);
        background-size: 3rem 3rem;
        background-position: center;
    }
    50%{
        background-color: var(--pastel-green-1);
        background-size: 0 0, 3rem 3rem, 1rem 1rem;
        background-position: center;
    }
    100% {
        background-color: var(--black-1);
        background-size: 5rem 5rem;
        background-position: center;
    }
}

.cross-btn{
    rotate: 45deg;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 4rem;
    background-color: var(--black-1);
    padding: .5rem .9rem 1.5rem .9rem;
    /* border-radius: 50%; */
    border: 2px solid var(--white-1);
    color: var(--white-1);
    border-radius: 50%;
    transition:
    border-radius 100ms ease-in,
    transform 50ms ease-in,
    box-shadow 50ms ease-in,
    background-color 600ms;
}

.cross-btn:hover,
.cross-btn:focus{
    border-radius: 0;
    background-color: var(--neon-green-1);
    color: var(--black-1);
    /* transform: translate(-7px, -7px);
    --webkit-box-shadow: 7px 7px 0px 0px var(--black-1);
    --moz-boz-box-shadow: 7px 7px 0px 0px var(--black-1);
    box-shadow: 7px 7px 0pc 0pc var(--black-1); */
}

.cross-btn:active{
    transform: translate(2px, 2px);
    --webkit-box-shadow: 2px 2px 0px 0px var(--black-1);
    --moz-boz-box-shadow: 2px 2px 0px 0px var(--black-1);
    box-shadow: 2px 2px 0pc 0pc var(--black-1);
}


.bg-pattern-dots {
    border-radius: 10px;
    --color-1: var(--light-blue-1);
    --color-2: var(--light-purple-1);
    background-color: var(--color-1);
    background-image: radial-gradient(
        circle,
        transparent 1rem,
        var(--color-2) 1rem,
        var(--color-2) 3rem,
        var(--blue-1) 3rem,
        var(--blue-1) 5rem,
        transparent 5rem
    );
    background-size: 3rem 3rem;
}

.bg-animated-dots {
    animation: pattern-animation-dots infinite alternate 6000ms;
}

@keyframes pattern-animation-dots {
    0%{
        background-size: 3rem 3rem;
        background-position: center;
    }
    25% {
        background-size: 4rem 2rem;
        background-position: center;
    }
    50%{
        background-size: 5rem 1rem;
    }
    75%{
        background-size: 2rem 4rem;
    }

    100% {
        background-size: 1rem 5rem;
        background-position: center;
    }
}

.dots-btn{
    line-height: 5rem;
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 4rem;
    background-color: var(--white-1);
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 20px;
    border: 2px solid var(--black-1);
    color: var(--black-1);
    transition:
    transform 50ms ease-in,
    box-shadow 50ms ease-in,
    background-color 600ms;
}

.dots-btn:hover,
.dots-btn:focus{
    background-color: var(--yellow-2);
    transform: translate(-7px, -7px);
    --webkit-box-shadow: 7px 7px 0px 0px var(--black-1);
    --moz-boz-box-shadow: 7px 7px 0px 0px var(--black-1);
    box-shadow: 7px 7px 0pc 0pc var(--black-1);
}

.dots-btn:active{
    transform: translate(2px, 2px);
    --webkit-box-shadow: 2px 2px 0px 0px var(--black-1);
    --moz-boz-box-shadow: 2px 2px 0px 0px var(--black-1);
    box-shadow: 2px 2px 0pc 0pc var(--black-1);
}


/* OK */


.grid-pattern-item-1 {
    border-radius: 10px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-pattern-header-1 {
    text-align: center;
    color: var(--white-1);
    font-size: 8vh;
    word-break: break-all;
}

.bg-gradient-1 {
    background-image: var(--gradient-5);
    background-size: 400%;
}

.bg-animated-gradient-1 {
    animation: bg-animated-gradient-1 infinite alternate 5000ms;
}

@keyframes bg-animated-gradient-1 {
    0% {
        background-position: right;
    }
    /* 50%{
        background-position: bottom;
    } */
    100% {
        background-position: left;
    }
}

/* CLOCK */

.clock-typography {
    font-size: 10vh;
}

@media (min-width: 768px) {
    .clock-typography {
        font-size: 50vh;
    }
}

.clock-pattern {
    border-radius: 10px;
    background-color: var(--white-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-typography {
    font-size: 10vh;
    text-align: center;
    animation: spinning-tic-tac 8000ms infinite linear;
}

@keyframes spinning-tic-tac {
    0% {
        rotate: 0;
    }
    7.5%,12.5%{
        rotate: 45deg;
    }
    20%, 25%{
        rotate: 90deg;
    }
    32.5%,37.5%{
        rotate: 135deg;
    }
    45%,50% {
        rotate: 180deg;
    }
    57.5%, 62.5%{
        rotate: 225deg;
    }
    70%, 75%{
        rotate: 270deg;
    }
    82.5%, 87.5%{
        rotate: 315deg;
    }
    95%, 100%{
        rotate: 360deg;
    }
}

/* OK */
.bg-pattern-zig-zag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-2);
    background-size: 4rem 4rem;
    background-position: 2rem 0, 2rem 0, 0 0, 0 0;
    background-image: linear-gradient(
            -45deg,
            transparent 75%,
            var(--color-1) 75%
        ),
        linear-gradient(45deg, transparent 75%, var(--color-1) 75%),
        linear-gradient(-135deg, transparent 75%, var(--color-1) 75%),
        linear-gradient(135deg, transparent 75%, var(--color-1) 75%);
}

.bg-animated-zig-zag {
    animation: pattern-animation-zig-zag 5000ms infinite alternate;
}

/* Animation */

@keyframes pattern-animation-zig-zag {
    0% {
        background-size: 4rem 4rem, 2rem 2rem;
        background-position: center;
        background-color: var(--white-1);
    }
    50% {
        background-color: var(--neon-green-1);
    }
    100% {
        background-size: 5rem 5rem, 1rem 1rem;
        background-position: 2rem 0, 2rem 0, 0 0, 0 0;
        background-color: var(--light-purple-1);
    }
}

.zig-zag-btn{
    line-height: 7rem;
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 8rem;
    background-color: var(--black-1);
    padding: 0 1rem 2rem 1rem;
    border-radius: 100%;
    border: 2px solid var(--white-1);
    color: var(--black-1);
    transition:
    transform 50ms ease-in,
    box-shadow 50ms ease-in,
    background-color 600ms;
}

.zig-zag-btn:hover,
.zig-zag-btn:focus{
    border:2px solid var(--black-1);
    background-color: var(--red-1);
    color: var(--white-1);
    transform: translate(7px, 7px);
    --webkit-box-shadow: -7px -7px 0px 0px var(--black-1);
    --moz-boz-box-shadow: -7px -7px 0px 0px var(--black-1);
    box-shadow: -7px -7px 0pc 0pc var(--black-1);
}

.zig-zag-btn-btn:active{
    transform: translate(2px, 2px);
    --webkit-box-shadow: 2px 2px 0px 0px var(--black-1);
    --moz-boz-box-shadow: 2px 2px 0px 0px var(--black-1);
    box-shadow: 2px 2px 0pc 0pc var(--black-1);
}


/* OK */
.bg-pattern-grid {
    color: var(--black-1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-1);
    background-size: 3rem 3rem;
    background-image: linear-gradient(var(--color-2) 0.1rem, transparent 0.1rem),
        linear-gradient(90deg, var(--color-2) 0.1rem, transparent 0.1rem);
}

.bg-animated-grid {
    animation: pattern-animation-grid 4000ms infinite alternate;
}

@keyframes pattern-animation-grid {
    from {
        background-size: 4rem 4rem, 2rem 2rem;
        background-position: center;
        /* background-position: 2rem 0, 4rem 0, 0 0, 0 0; */
    }
    to {
        background-size: 1rem 1rem, 5rem 1rem;
        background-position: center;
        /* background-position: 2rem 0, 2rem 0, 0 0, 0 0; */
    }
}

.grid-grid-header {
    filter: invert(1);
    mix-blend-mode: difference;
    font-family: var(--major-mono-display);
    font-size: 20vh;
}

@media (min-width: 425px) {
    .grid-grid-header {
        font-size: 30vh;
    }
}

/* OK */
.bg-pattern-wave {
    border-radius: 10px;
    --color-1: var(--black-1);
    --color-2: var(--white-1);
    background-color: var(--color-1);
    background-image: radial-gradient(
            circle at 100% 50%,
            transparent 1rem,
            var(--color-2) 1rem,
            var(--color-2) 1.5rem,
            transparent 1.5rem
        ),
        radial-gradient(
            circle at 0% 50%,
            transparent 1rem,
            var(--color-2) 1rem,
            var(--color-2) 1.5rem,
            transparent 1.5rem
        );
    background-size: 3rem 5rem;
    background-position: 0 0, 0 2.5rem;
}

.bg-animated-wave {
    animation: pattern-animation-wave 10000ms infinite alternate;
}

@keyframes pattern-animation-wave {
    0% {
        background-size: 3rem 5rem;
        background-position: 0 0, 0 2.5rem;
    }
    20% {
        background-color: var(--blue-1);
    }
    50% {
        background-color: var(--light-purple-1);
    }
    80% {
        background-color: var(--green-3);
    }
    100% {
        background-size: 1rem 5rem;
        background-position: 0 0, 0 2.5rem;
    }
}

/* OK */
.bg-pattern-circles {
    border-radius: 10px;
    --color-1: var(--pastel-green-1);
    --color-2: var(--white-1);
    background-color: var(--color-1);
    background-image: radial-gradient(
        circle,
        transparent 1rem,
        var(--color-2) 1rem,
        var(--color-2) 1.5rem,
        transparent 1.5rem
    );
    background-size: 3rem 3rem;
}

.bg-animated-circles {
    animation: pattern-animation-circles 6000ms infinite alternate;
}

@keyframes pattern-animation-circles {
    0% {
        background-size: 3rem 3rem;
        background-position: center;
    }
    20% {
        background-color: var(--pink-2);
        background-size: 2.5rem 2.5rem;
    }
    60% {
        background-color: var(--neon-green-1);
        background-size: 2rem 2rem;
    }
    100% {
        background-size: 1rem 2rem;
        background-position: center;
    }
}

.wave-btn{
    line-height: 7rem;
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 8rem;
    background-image: var(--gradient-2);
    padding: 0 1rem 2rem 1rem;
    border-radius: 100%;
    border: 2px solid var(--white-1);
    color: var(--white-1);
    transition:
    transform 50ms ease-in,
    box-shadow 50ms ease-in,
    background-color 600ms;
}

.wave-btn:hover,
.wave-btn:focus{
    color: var(--white-1);
    transform: translate(7px, -7px);
    --webkit-box-shadow: -7px 7px 0px 0px var(--white-1);
    --moz-boz-box-shadow: -7px 7px 0px 0px var(--white-1);
    box-shadow: -7px 7px 0px 0px var(--white-1);
}

.wave-btn:active{
    transform: translate(2px, 0px);
    --webkit-box-shadow: 2px 0px 0px 0px var(--white-1);
    --moz-boz-box-shadow: 2px 0px 0px 0px var(--white-1);
    box-shadow: 2px 0px 0px 0px var(--white-1);
}

.circle-btn{
    line-height: 7rem;
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 8rem;
    background-color: var(--blue-1);
    padding: 0 1rem 2rem 1rem;
    border-radius: 10%;
    border: 2px solid var(--white-1);
    color: var(--white-1);
    transition:
    transform 50ms ease-in,
    box-shadow 50ms ease-in,
}

.circle-btn:hover,
.circle-btn:focus{
    color: var(--white-1);
    transform: translate(-7px, 7px);
    --webkit-box-shadow: 7px -7px 0px 0px var(--blue-1);
    --moz-boz-box-shadow: 7px -7px 0px 0px var(--blue-1);
    box-shadow: 7px -7px 0px 0px var(--blue-1);
}

.circle-btn:active{
    transform: translate(2px, 0px);
    --webkit-box-shadow: 2px 0px 0px 0px var(--white-1);
    --moz-boz-box-shadow: 2px 0px 0px 0px var(--white-1);
    box-shadow: 2px 0px 0px 0px var(--white-1);
}

/* display */

.display-wrapper{
}

.display-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* GRID_TEMPLATE */

.grid {
    height: 300px;
    /* width: 100px; */
}

/* DIfferent Grids */

.grid-container {
    padding: .5px;
    background-color: var(--black-1);
    margin-top: 44px;
    display: grid;
}

.grid-layout-wrapper-1 {
    gap: .5px;
    padding: .5px .5px .5px .4px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item-1 {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.main-container-animated,
.main-container{
    min-height: 80vh;
    border-radius: 10px;
    padding: 1rem;
    margin-top: .5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container-animated{
    background-image: var(--gradient-8);
    background-position: center;
    /* background-image: var(--gradient-11); */
    animation: section-animated alternate infinite 6000ms;
}

@keyframes section-animated {

    0%{
        background-size: 100%;
    }
    20%{
        background-size: 150%;
    }
    40%{
        background-size: 300%;
    }
    80%{
        background-size: 600%;
    }
    100%{
        background-size: 1000%;
    }
}

.main-header,
.main-crazy-header{
    filter: invert(1);
    mix-blend-mode: difference;
    text-align: center;
    word-break: break-all;
}

.main-crazy-header{
    font-size: 6rem;
}

.main-header{
    font-size: 7rem;
}

.grid-layout-wrapper-2 {
    gap: .5px;
    padding: .25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

@media (min-width: 768px) {
    .grid-layout-wrapper-1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .grid-triangle-1 {
        margin-top: 10rem;
    }
    .grid-item-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-layout-wrapper-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

/* THE SHOE-PAGE */
.foot-wrapper-left,
.foot-wrapper-right {
    /* padding-top: 10rem;
    padding-bottom: 1rem; */
    min-height: 100vh;
}

@media (min-width: 425px) {
    .foot-wrapper-left,
    .foot-wrapper-right {
    padding: 0 1rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
    /* min-height: 80vh; */
}
}

@media (min-width:768px){
    .foot-wrapper-left,
    .foot-wrapper-right {
    padding-top: 6rem;
    padding-bottom: 2rem;
    /* min-height: 80vh; */
}
}

.foot-wrapper-right {
    background-image: url('../src/img/_vågor.png');
    background-color: var(--orange-1);
    animation: switch-color-right infinite alternate 8000ms;
}

.foot-wrapper-left {
    background-image: url('../src/img/_tintin-rutor.png');
    background-color: var(--neon-green-1);
    animation: switch-color-left infinite linear 8000ms;
}

.btn-container {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.right-shoe {
    background-image: url('./img/_right_shoe.png');
}

.left-shoe {
    background-image: url('./img/_left_shoe.png');
}

.right-shoe,
.left-shoe {
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    rotate: -90deg;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vw;
    /* min-height: 100vw; */
}

@media (min-width: 425px) {
    .right-shoe,
    .left-shoe {
        /* min-height: 100vw; */
    }
}

@media (min-width: 700px) {
    .right-shoe,
    .left-shoe {
        rotate: 0deg;
        transform: translate(-50%, 10%);
        height: 45vw;
    }
}

@keyframes switch-color-right {
    0% {
        background-color: var(--orange-1);
        background-position: right;
    }
    25% {
        background-color: var(--red-1);
    }
    50% {
        background-color: var(--pastel-yellow-1);
    }
    75% {
        background-color: var(--light-blue-1);
    }
    100% {
        background-color: var(--pastel-green-1);
    }
}

@keyframes switch-color-left {
    0% {
        background-color: var(--neon-green-1);
        background-position: left;
    }
    25% {
        background-color: var(--blue-2);
    }
    50% {
        background-color: var(--light-purple-1);
    }
    75% {
        background-color: var(--purple-1);
    }
    100% {
        background-color: var(--pink-3);
    }
}


/* Footer */
.footer-bar {
    background-color: black;
}

.img-container {
    min-height: 20vh;
    background-image: url('./img/footers.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.footer-header {
    color: white;
    text-align: center;
}

.shoe {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* height: auto;
    max-width: 100%; */
    height: 100px;
}

@media (min-width: 768px) {
    .shoe {
        height: 200px;
    }
}

.right {
    background-image: url('./img/_right_shoe.png');
}

.left {
    background-image: url('./img/_left_shoe.png');
}

.foot-info-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.foot-header{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--white-1);
    --webkit-box-shadow: 7px 7px 0px 0px var(--black-1);
    --moz-boz-box-shadow: 7px 7px 0px 0px var(--black-1);
    box-shadow: 7px 7px 0pc 0pc var(--black-1);
}

.foot-info{
    padding: .5rem;
    line-height: 3rem;
    font-size: 3rem;
    background-color: var(--white-1);
    --webkit-box-shadow: 7px 7px 0px 0px var(--black-1);
    --moz-boz-box-shadow: 7px 7px 0px 0px var(--black-1);
    box-shadow: 7px 7px 0pc 0pc var(--black-1);
}

@media (min-width: 425px){
    .foot-header{
        padding: 1rem;
        font-size: 2rem;
    }
    .foot-info{
        line-height: 5rem;
        padding: 1rem;
        font-size: 5rem;
    }
}
