@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* FONTS */
    --space-mono: 'Space Mono', monospace;
    --nabla-display: 'Nabla', cursive;
    --nanum-gothic: 'Nanum Gothic Coding', monospace;
    --jetbrains-mono: 'JetBrains Mono', monospace;
    --major-mono-display: 'Major Mono Display', monospace;
    --megrim-display: 'Megrim', cursive;
    --azeret-mono: 'Azeret Mono', monospace;

    /* COLORS */
    --black-1: #000000;
    --white-1: #ffffff;
    --pink-1: #ba71d9;
    --purple-1: #4b1c8c;
    --green-1: #078c04;
    --yellow-1: #f2b705;
    --orange-1: #f28705;

    --gradient-1: linear-gradient(
        45deg,
        var(--pink-1),
        var(--purple-1),
        var(--green-1),
        var(--yellow-1),
        var(--orange-1)
    );
}

/* Global settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

.gradient-container-1 {
    height: 100%;
    width: 100%;
    background-image: var(--gradient-1);
    background-size: 400%;
    animation: gradient-animation 25s infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
/* NavBar component */
.nav-bar {
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white-1);
}

.nav-btn-container {
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* svg home-eye */
.home-eye {
    width: 40px;
}
.home-eye-white {
    fill: #fff;
}

.home-eye-pupil:hover,
.home-eye-pupil:focus,
.home-eye-pupil:active {
    fill: var(--pink-1);
}

.home-eye-pupil {
    animation: eye-movement 10000ms infinite;
}

@keyframes eye-movement {
    0%,
    50%,
    100% {
        cx: 25;
    }
    25% {
        cx: 20;
    }
    75% {
        cx: 30;
    }
}

/* svg grid */

.cls-1 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
}

.home-grid {
    rotate: 45deg;
    width: 30px;
}

/* Hero */
/* .hero-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-1);
} */
.hero-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient-1);
    background-size: 400%;
    animation: gradient-animation 25s infinite alternate;
}

.gradient-container-1 {
    height: 100%;
    width: 100%;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.eye-lid,
.open-eye {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-1);
    min-width: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--black-1);
    transition: height 500ms ease-in-out;
}

.eye-lid {
    height: 0px;
}

.open-eye {
    height: 120px;
}

.eye {
    background-color: var(--purple-1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* Footer */

.footer-bar {
    background-color: black;
}

.img-container {
    min-height: 200px;
    background-image: url('./img/footers.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer-header {
    color: white;
    text-align: center;
}
